@media screen and (max-width: 768px){
    #nombre{
        display: none;
    }
    #navbar{
        display: none;
    }
    
}

@media screen and (min-width: 769px) {
    #menu{
        display: none;
    }
    .article-block{
        margin: 0%;
        padding: 0%;
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    img{
        width: 300px;
        height: 240px;
    }
    
    .block-noticia{
        width: 300px;
        height: 385px;
        font-size: 80%;
        /* background-color: gold;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid gold;
        border-bottom: 1px solid black; */
    }

    .block-secundaria{
        width: 300px;
        height: 100px;
        font-size: 75%;
    }
}

@media screen and (min-width: 1024px) {
    #menu{
        display: none;        
    }
    .article-block{
        margin: 0%;
        padding: 0%;
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    img{
        width: 440px;
        height: 390px;
    }
    .block-noticia{
        width: 440px;
        height: 500px;
        background-color: gold;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid gold;
        border-bottom: 1px solid black;
    }

    .block-secundaria{
        width: 440px;
        height: 100px;
    }
}

